{
    "presets": ["react", "jest"],
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "test": {
            "presets": ["env"],
            "plugins": ["babel-plugin-styled-components"]
        }
    }
}
